.editable-product {
    padding: 20px;
    margin-top: 5px;
}

.editable-product > div {
    display: inline-block;
    width: 16%;
    line-height: 40px;
    vertical-align: middle;
}

.editable-product > button {
    float: right;
    line-height: 40px;
    vertical-align: middle;
    width: 10%;
}